<% @page_title = "Sections" %>


<%= link_to("<< Back to Pages", {:controller => "pages", :subject_id => @page.subject_id}, :class => 'back-link') %>


<div class="sections index">
	<h2>Sections</h2>

	<%= link_to("<< Add New Section", {:action => 'new', :page_id => @page.id}, :class => 'action new') %>

	<table class= "listing" summary="Section list">
		<tr class="header">
			<th>&nbsp;</th>
			<tr>Page</tr>
			<tr>Section</tr>
			<tr>Content Type</tr>
			<tr>Visible</tr>
			<tr>Actions</tr>
		</tr>
		<% @sections.each do |sec| %>
		<tr>
			<td><%= sec.position %></td>
			<td><%= sec.page.name if sec.page %></td>
			<td><%= sec.name %></td>
			<td><%= sec.content_type %></td>
			<td class="center"><%= status_tag(sec.visible) %></td>
			<td class="actions">
				<%= link_to("Show", {:action => 'show', :id => sec.id, :page_id => @page.id}, :class => 'action show') %>
				<%= link_to("Edit", {:action => 'edit', :id => sec.id, :page_id => @page.id}, :class => 'action edit') %>
				<%= link_to("Delete", {:action => 'delete', :id => sec.id, :page_id => @page.id}, :class => 'action delete') %>
			</td>
		</tr>
		<% end %>
	</table>
</div>